*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-size: 15px;
    background-color: #FFF7F7;
    color: #240C04;
    overflow-x: hidden;
}

 .navbar a {
   background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  display: inline-block;
  padding: 0 .5em 0.2em;
  text-decoration: none;
  transition: 0.5s;
}

 .navbar a:hover,
 .navbar a.active {
    color: #FF802C !important;
  --underline-width: 100%;
}

.navbar {
    display: flex;
    padding-top: 10px;
    padding-left: 0px;
}

li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

.logo{
   
    justify-self: center;
    width: 50px;    
    height: 50px;
    border-radius: 50%;
    
}

.logo-container{
    text-align: center;
}

.navbar-container{
    margin: 2rem;
}

.icons{
    margin-top: 5%;
    display: flex;
    gap: 20px;
}

.icons button{

    margin: auto;
    border: none;
    text-decoration: none;
}

.icons i { 
    background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
    font-size: larger;
    transition: 0.5s;
 
}

i:hover{
    color: #FF802C;
}

.links-container{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


   a{
    text-decoration: none;
   }

   .products-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
   }

    .product-card {
        
      margin: 20px;
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      width: 300px;
      transition: transform 0.2s ease;
    
    }

    .product-card:hover {
      transform: translateY(-5px);
    }

    .product-image {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }

    .product-info {
      padding: 16px;
    }

    .product-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 8px;
      color: #111827;
    }

    .product-desc {
      font-size: 0.9rem;
      color: #6b7280;
      margin-bottom: 12px;
    }

    .product-price {
      font-size: 1.1rem;
      font-weight: 500;
      color: #10b981;
      margin-bottom: 16px;
    }

    .buy-btn {
      display: inline-block;
      background: #3b82f6;
      color: #fff;
      text-decoration: none;
      padding: 10px 16px;
      border-radius: 8px;
      font-size: 0.95rem;
     transition: background 0.3s ease;
    }

    .buy-btn:hover {
      background: #2563eb;
    }